

<form class="login-container">
    <h1>Picante</h1>
    <mat-form-field>
        <input matInput placeholder="Email">
    </mat-form-field>    
    <mat-form-field>
        <input matInput placeholder="Password">
    </mat-form-field>
    <button mat-raised-button>Log In</button>
</form>

<!-- validates the username and password, when the log in button is clicked it lets you see the list component and the message form component. -->

<!-- 
steps:

how to validate an username and password?

when the login button is clicked (if user and password were validated) hide form component and display list and message form. (else keep showing form and let the user know username or password were not valid) -->



<!-- 
passes username and total chirps to the message form component as parameter to use them in the avatar. -->
